@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #263238;
}

li, a, button, h1, h2{
	font-family: 'Font-Awesome', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
}

img{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	margin-right: auto;
}

header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
}

.logo{
	cursor: pointer;
	margin-right: auto;
}

.nav__links{
	list-style: none;
}

.nav__links li{
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a{
	transition: all 0.3 ease 0s;
}
.nav__links li a:hover{
	color: #ff9100;
}

button{
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3 ease 0s;
	margin: left 20px;
}

iframe{
	margin: 550 auto;
}