@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #232F34;
}

li, a, button, h1, h2{
	font-family: 'Font-Awesome', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
}

img{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	margin-right: auto;
}

header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
}

.logo{
	cursor: pointer;
	margin-right: auto;
}

.nav__links{
	list-style: none;
}

.nav__links li{
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a{
	transition: all 0.3 ease 0s;
}
.nav__links li a:hover{
	color: #0088e9;
}

button{
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3 ease 0s;
	margin: left 20px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: rgba(0, 136, 169, 1);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: rgba(0, 136, 169, 1);
}

/* Add a background color and some padding around the form */
.container {
  padding: 20px;
  background-color: #232f34;
}

textarea{
	color: #FFFFFF;
	background-color: #232f34;
}

input{
	color: #FFFFFF;
	background-color: #232f34;
}

label{
	color: #FFFFFF;
	background-color: #232f34;
}

select{
	background-color: #232f34;
	color: #FFFFFF;
	width: 100px;
}